include mixins

doctype
html( lang="en" )
    head
        title EpicMath Bootstrap Snippets with Jade
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

        +bootswatch("superhero")
        //- +bootswatch("flatly")

    body(style="padding-bottom:10rem;")

        .container
        +nav("Miner 1.0", "dropdown_menu")
            +nav_item( "index", "active" ) Home
            +nav_item( "rigs" ) Rigs
            +nav_item_dropdown( "#" )( label="Links")
                +nav_item( "https://www.coinwarz.com/cryptocurrency" ) CoinWarz 
                +nav_item( "#" ) Another action
                +nav_item( "#" ) Something else here
                +nav_divider
                +nav_header Nav header
                +nav_item( "#" ) Separated link
                +nav_item( "#" ) One more separated link
        .row
           .col-md-12.col-sm-12.col-xs-12
                table.table.table-striped
                    thead
                        tr
                            th 
                                h3 Temperature 1
                            |         
                            th 
                                h3 Temperature 2
                            |         
                            th 
                                h3 Temperature 3 
                    |     
                    tbody
                        tr
                            td 
                                h4 
                                   div(id ='Temperature1').
                            |         
                            td 
                                h4 
                                    div(id ='Temperature2').
                            |         
                            td 
                                h4
                                    div(id ='Temperature3').  
                        |       
                        tr
                            td 
                                +button("info", 'javascript:getTemperature("28-0416b3c34fff", 1)', "large") Temperature
                            |         
                            td 
                                +button("info", 'javascript:getTemperature("28-0416b3c5feff", 2)', "large") Temperature
                            |         
                            td 
                                +button("info", 'javascript:getTemperature("28-0316b3eefeff", 3)', "large") Temperature
        .row        
        .row
            .col-md-12.col-sm-12.col-xs-12
                table.table.table-striped
                    thead
                        tr
                            th 
                                h3 Rigs
                            |         
                            th 
                                h3 Ping
                            |         
                            th 
                                h3 Actions
                    |     
                    tbody
                        tr
                            td 
                                h4 Rig 1
                            |         
                            td 
                                h4 
                                    div(id ='ping1').
                            |         
                            td 
                                +button("info", 'javascript:pingRig("172.217.18.78", 1)', "large") Ping

                                +button("warning", 'javascript:power(confirm("Power?"),17)', "large") Power

                                +button("danger", 'javascript:hardReset(confirm("Hard Reset?"),17)', "large") Hard Rest
                        |       
                        tr
                            td 
                                h4 Rig 2
                            |         
                            td 
                                h4 
                                    div(id ='ping2').
                            |         
                            td 
                                +button("info", 'javascript:pingRig("98.139.180.149", 2)', "large") Ping

                                +button("warning", 'javascript:power(confirm("Power?"),27)', "large") Power

                                +button("danger", 'javascript:hardReset(confirm("Hard Reset?"),27)', "large") Hard Rest
                        |       
                        tr
                            td 
                                h4 Rig 3
                            |         
                            td 
                                h4 
                                    div(id ='ping3').
                            |         
                            td 
                                +button("info",'javascript:pingRig("104.155.54.204", 3)', "large") Ping

                                +button("warning", 'javascript:power(confirm("Power?"),22)', "large") Power

                                +button("danger", 'javascript:hardReset(confirm("Hard Reset?"),22)', "large") Hard Rest
                        |       
                        tr
                            td 
                                h4 Rig 4
                            |         
                            td 
                                h4 
                                     div(id ='ping4').
                            |         
                            td 
                                +button("info", 'javascript:pingRig("98.139.180.149", 4)', "large") Ping

                                +button("warning", 'javascript:power(confirm("Power?"),5)', "large") Power

                                +button("danger", 'javascript:hardReset(confirm("Hard Reset?"),5)', "large") Hard Rest
                        |       
                        tr
                            td 
                                h4 Rig 5
                            |         
                            td 
                                h4 
                                     div(id ='ping5').
                            |         
                            td 
                                +button("info", 'javascript:pingRig("98.139.180.149", 5)', "large") Ping

                                +button("warning", 'javascript:power(confirm("Power?"),18)', "large") Power

                                +button("danger", 'javascript:hardReset(confirm("Hard Reset?"),18)', "large") Hard Rest                

     
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        script(src='/jquery.js')
        script(src='/javascripts/actions.js')


